body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.hadouken, .ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 167px;
	left: -212px;
	float: left;
	z-index: 10;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-cool, .ryu-still, .ryu-throwing {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
    display:none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.text-content{
	position: absolute;
	left: 750px;
	height: 425px;
	width: 700px;
	padding-top: 150px;
}

.instructions p {
	font-family: 'Satisfy', sans-serif;
	font-size: 42px;
	float: left;
	text-align: left;
	color: black;
	line-height: 45px;
	display:block;
	margin-top: 20px;
}




